<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <footer>
        <div class="box-container">
            <div class="box">
                <h3>quick links</h3>
                <a href="#home">home</a>
                <a href="#about">about</a>
                <a href="#products">products</a>
                <a href="#review">review</a>
                <a href="#contact">contact</a>
            </div>

            <div class="box">
                <h3>extra links</h3>
                <a href="#">Terms of Service</a>
                <a href="#">Terms of Use</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Cookie Policy</a>
            </div>

            <div class="box">
                <h3>locations</h3>
                <a href="#">Croatia</a>
                <a href="#">UK</a>
                <a href="#">Germany</a>
                <a href="#">France</a>
            </div>

            <div class="box">
                <h3>info</h3>
                <a href="#">+123 456 7890</a>
                <a href="#">mail@mail.com</a>
                <a href="#">Dr. Franje Tuđmana 12c</a>
                <img src="../images/credit-card.png" alt="credit card img">
            </div>
        </div>
        <div class="credit">© <span id="yearFooter">2024</span> - Anđelo Jakoliš</div>
    </footer>
    <script>
        const date = new Date();
        document.getElementById("yearFooter").innerHTML = date.getFullYear();
    </script>
</body>
</html>